<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.pivotal.android.push.sample" >


    <application
      android:allowBackup="true"
      android:icon="@drawable/ic_pivotal_logo"
      android:label="@string/app_name"
      android:theme="@style/AppTheme" >


        <!-- =============================================================================================== -->
        <!-- You must add your push service to your manifest in order to receive notification updates -->

        <!-- =============================================================================================== -->

        <!-- =============================================================================================== -->
        <!-- You may add this receiver if you want to receive status updates when the SDK monitors geofences -->
        <!-- This receiver is the only way to receive error updates (as they happen) from the geofence       -->
        <!-- setup system in this SDK.                                                                       -->
        <!--<receiver-->
        <!--android:name=".receiver.GeofenceUpdateBroadcastReceiver"-->
        <!--android:exported="false" >-->
        <!--<intent-filter>-->
        <!--<action android:name="io.pivotal.android.push.geofence.UPDATE"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!-- =============================================================================================== -->

        <activity
          android:name=".activity.MainActivity"
          android:configChanges="orientation"
          android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
          android:name=".activity.PreferencesActivity"
          android:label="@string/title_activity_preferences"
          android:parentActivityName=".activity.MainActivity" >
            <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value="io.pivotal.android.push.sample.activity.MainActivity" />
        </activity>



    </application>

</manifest>
