<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.pivotal.android.push.demo">

    <!-- =============================================================================================== -->
    <!-- You must add this permission, with your package name, to your manifest in order to receive push -->
    <!-- notifications.  The permission name must be YOUR.PACKAGE.NAME.permission.C2D_MESSAGE            -->
    <permission
        android:name="io.pivotal.android.push.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!--<uses-permission android:name="io.pivotal.android.push.demo.permission.C2D_MESSAGE" />-->
    <!-- =============================================================================================== -->

    <!-- =============================================================================================== -->
    <!-- Use these two permissions if you want to use the geofence features of the Pivotal Push SDK      -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!-- =============================================================================================== -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pivotal_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service
            android:name="io.pivotal.android.push.demo.PushService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
